{% extends "admin/change_list.html" %}
{#{% load i18n admin_urls static admin_list %}#}
{% load i18n admin_static%}
{# Original template renders object-tools only when has_add_permission is True. #}
{# This hack allows sub templates to add to object-tools #}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/order.css' %}"/>
{% endblock %}
{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'store/js/order.js' %}"></script>
    <script type="text/javascript" src="{% static 'store/js/item_list.js' %}"></script>
    <script type="text/javascript">
        window.CSRF_TOKEN = "{{ csrf_token }}";
        window.report_url = "{% url 'admin:store_order_report' %}";
    (function ($) {
    $(document).ready(function () {
        OrderReport.init({
                //
        });
    });
    })(django.jQuery);
    </script>
{% endblock %}

{% block content_title %}<h1>选择物品添加到清单</h1>{% endblock %}
{% block content %}
    <div id="obj-error-note">
    <p class="errornote">
    请更正下列错误。
    </p></div>
{#    {% block search %}{% search_form cl %}{% endblock %}#}
{#    <div class="messagepop pop">#}
{#  <form method="post" id="new_message" action="/messages">#}
{#    <p><label for="email">Your email or name</label><input type="text" size="30" name="email" id="email" /></p>#}
{#    <p><label for="body">Message</label><textarea rows="6" name="body" id="body" cols="35"></textarea></p>#}
{#    <p><input type="submit" value="Send Message" name="commit" id="message_submit"/> or <a class="close" href="/">Cancel</a></p>#}
{#  </form>#}
{#</div>#}
    <div id="toolbar"><div id="changelist-search">
<div>
<label for="searchbar"><img src="/static/admin/img/search.svg" alt="Search"></label>
<input type="text" size="40" name="q" id="searchbar" autofocus="">
<input id="obj-search" value="搜索" type="submit" name="{% url 'admin:store_order_goods-search-list' %}">
</div>
</div>
    </div>
    <div class="obj-flex-display">
        <div id="obj-sidebar" class="obj-top-border obj-margin-right">
            <ul>{% for cate in categories %}
                <li class="obj-border-bottom"
                    value="{% url 'admin:store_order_goods-list' cate.id %}">{{ cate.name }}</li>{% endfor %}</ul>
        </div>
        <div class="obj-margin-right" id="obj-item-list">
      <table>
                <thead>
                <tr>
                    <td>名称</td>
                    <td>价格</td>
                    <td>单位</td>
                    <td>库存</td>
                    <td>购买项</td>
                </tr>
                </thead>
                <tbody>
                {% for good in goods %}
                    <tr>
                        <td>{{ good.goods_name }}</td>
                        <td><input value="{{ good.last_price }}" type="number"></td>
                        <td>{{ good.unit_name }}</td>
                        <td>{{ good.remain }}</td>
                        <td><input value="1" type="number"><a href="javascript:void(0);" class="addlink" name="{{ good.id }}">添加到清单</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="obj-no-display" id="obj-report-item"><h2>清单列表</h2>
            <hr>
            <div id="obj-report-list">
                <table>
                    <thead>
                    <tr>
                        <td>名称</td>
                        <td>购买数</td>
                        <td>价格</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div style="padding: 5px;"><a href="javascript:void(0);" id="choose_user">选择用户</a><label id="user_name"></label></div>
{##}
                <div><input placeholder="有赊账填写此项" id="arrears_price" type="number"></div>
                <div id="obj-print-link"><a href="javascript:void(0);" name="{% url 'admin:store_order_report' %}">打印清单</a></div><div id="obj-count-money">总计:<p></p></div>
            </div>
        </div>
        <div class="obj-no-display" id="shade-block">
            <div class="pop-panel">
                <div style="display: flex;">
                <input type="text" size="40" name="q" id="search-user-bar" autofocus="" style="width: 200px; margin-right: 20px;">
                <input id="user-search" value="搜索" type="submit" name="{% url 'admin:store_order_custom-search-list' %}">
                </div>
                <div class="table-body"></div>
                <a href="javascript:void(0);" id="exit-panel" style="float: right; margin-top: 60px;">退出面板</a>
            </div>
        </div>

    </div>
{% endblock %}
