{% extends "admin/change_list.html" %}
{% load i18n admin_static %}
{# Original template renders object-tools only when has_add_permission is True. #}
{# This hack allows sub templates to add to object-tools #}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/order.css' %}"/>
{% endblock %}
{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'store/js/order.js' %}"></script>
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}";
    window.report_url = "{% url 'admin:store_order_report' %}" </script>
{% endblock %}

{% block content_title %}<h1>选择物品添加到清单</h1>{% endblock %}
{% block content %}
    <div class="flex-display">
        <div id="sidebar" class="top-border margin-right">
            <ul>{% for cate in categories %}
                <li class="border-bottom"
                    value="{% url 'admin:store_order_goods-list' cate.id %}">{{ cate.name }}</li>{% endfor %}</ul>
        </div>
        <div class="item-list margin-right">
      <table>
                <thead>
                <tr>
                    <td>名称</td>
                    <td>价格</td>
                    <td>单位</td>
                    <td>库存</td>
                    <td>购买项</td>
                </tr>
                </thead>
                <tbody>
                {% for good in goods %}
                    <tr>
                        <td>{{ good.goods_name }}</td>
                        <td><input value="{{ good.last_price }}" type="number"></td>
                        <td>{{ good.unit_name }}</td>
                        <td>{{ good.remain }}</td>
                        <td><input value="1" type="number"><a href="javascript:void(0);" class="addlink" name="{{ good.id }}">添加到清单</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="report nodisplay"><h2>清单列表</h2>
            <hr>
            <div class="report-list">
                <table>
                    <thead>
                    <tr>
                        <td>名称</td>
                        <td>购买数</td>
                        <td>价格</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="print-link"><a href="javascript:void(0);">打印清单</a></div><div class="count-money">总计:<p></p></div>
            </div>
        </div>
    </div>
{% endblock %}
