{% extends "admin/base.html" %}
{% load i18n static %}
{% block title %}进销管理系统{% endblock %}
{% block extrahead %}
    {% load selectable_tags %}
    <link rel="stylesheet" href="{% static 'store/css/jquery-ui.css' %}" type="text/css">
    <link href="{% static 'selectable/css/dj.selectable.css' %}" type="text/css" media="all" rel="stylesheet">
    <script src="{% static 'store/js/jquery.min.js' %}"></script>
    <script src="{% static 'store/js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'selectable/js/jquery.dj.selectable.js' %}"></script>
    {% include_ui_theme 'smoothness' %}
    {% include_jquery_libs  %}
{% endblock %}
{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">进销管理系统平台</a></h1>
{% endblock %}
{% block userlinks %}
                {% if user.is_active and user.is_staff %}
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                        <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                    {% endif %}
                {% endif %}
                {% if user.has_usable_password %}
                <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                {% endif %}
                <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
            {% endblock %}

{% block nav-global %}{% endblock %}
