{% extends "suit_dashboard/base.html" %}
{% load i18n admin_static %}

{% block title %}
  汇总统计信息
{% endblock %}

{% block dashboard_css %}
{#  <link href="{% static 'dashboard/css/main.css' %}" rel="stylesheet" media="all">#}
{% endblock %}

{% block dashboard_highcharts_js %}
  <script type="text/javascript" src="{% static 'dashboard/js/highcharts/highcharts.js' %}"></script>
  <script type="text/javascript" src="{% static 'dashboard/js/highcharts/highcharts-more.js' %}"></script>
{% endblock %}