#obj-item-list tbody {
    background: #f8f8f8;
}

#obj-item-list thead {
    background-color: #417690;
    color: #f8f8f8;
}

#obj-item-list tbody td {
    border-width: 3px ;
    border-style: solid;
    border-color: white;
    vertical-align: middle;

}

#obj-item-list tbody input{
    max-width: 50px;
    margin-right: 5px;
}


.obj-flex-display {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

}

.obj-top-border {
    border-color: transparent;
    border-top-color: #79aec8;
    border-top-width: 2px;
    border-style: solid;
}

#obj-sidebar {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}

#obj-sidebar #obj-report-list {
    min-width: 200px;
    background-color: aqua;
}

.obj-padding-right {
    padding-right: 50px;
}

.obj-margin-right {
    margin-right: 50px;
}

#obj-sidebar ul {
    list-style-type:none;
}

.obj-border-bottom {
    border-color: transparent;
    border-style: solid;
    border-bottom-color: bisque;
    border-width:1px;
}

#obj-sidebar ul li {
    list-style-type: none;
    margin: 3px 0;
    padding: 2px;
    color: seagreen;
}

#obj-sidebar ul .obj-select {
    background-color: bisque;
}

#obj-sidebar ul li:hover {
    color: brown;
    cursor: pointer;
}

#obj-sidebar li em {
    display: none;
}

#obj-item-list {
    max-width: 400px;
    overflow: auto;
    max-height: 600px;
}
#obj-report-list thead {
    background-color: #79AEC8;
}

#obj-report-list .obj-count-money {
    margin-top: 5px;
    float: right;
}

#obj-report-list .obj-print-link {
    float: left;
    vertical-align: middle;
    margin-top: 5px;
}

#obj-count-money p {
    display: inline;
    margin-left: 5px;
}

.obj-no-display{
    display: none;
}

.obj-red-tr {
    background-color: crimson;
    color: blue;
}

.obj-red-tr a{
    color: blue;
}

.obj-red-tr a:hover{
    color: #417690;
}

#toolbar {
    padding: 8px 10px;
    margin-bottom: 15px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #f8f8f8;
    color: #666;
}

#obj-search {
    border: 1px solid #ccc;
    padding: 2px 10px;
    margin: 0;
    vertical-align: middle;
    background: #fff;
    box-shadow: 0 -15px 20px -10px rgba(0, 0, 0, 0.15) inset;
    cursor: pointer;
    color: #333;
    border-radius: 4px;
    font-size: 14px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: normal;
    align-items: flex-start;
    text-align: center;
}

#searchbar {
    height: 19px;
    border: 1px solid #ccc;
    padding: 2px 5px;
    margin: 0;
    vertical-align: top;
    font-size: 13px;
    border-radius: 4px;
    color: #333;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: normal;
    -webkit-appearance: textfield;
    background-color: white;
}

#obj-report-item {
    max-width: 250px;
}


/*........................*/

a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}

.messagepop {
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:none;
  margin-top: 15px;
  position:absolute;
  text-align:left;
  width:394px;
  z-index:50;
  padding: 25px 25px 20px;
}

label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

.messagepop p, .messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}


