/*#obj-item-list tbody {*/
/*background: #f8f8f8;*/
/*}*/

/*#obj-item-list thead {*/
/*display: table-header-group;*/
/*vertical-align: middle;*/
/*border-color: inherit;*/
/*}*/

/*#obj-item-list tbody tr td：first{*/
/*max-width: 30px;*/
/*border-style: solid;*/
/*border-color: white;*/
/*vertical-align: middle;*/

/*}*/

#obj-item-list tbody input {
    max-width: 50px;
    /*margin-right: 5px;*/
}

/*.obj-flex-display {*/
/*display: flex;*/
/*flex-wrap: wrap;*/
/*margin-top: 20px;*/

/*}*/

/*.obj-top-border {*/
    /*border-color: transparent;*/
    /*border-top-color: #79aec8;*/
    /*border-top-width: 2px;*/
    /*border-style: solid;*/
/*}*/

/*#obj-sidebar {*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*padding: 0 10px;*/
/*}*/

/*#obj-sidebar #obj-report-list {*/
    /*min-width: 200px;*/
    /*background-color: aqua;*/
/*}*/

/*.obj-padding-right {*/
    /*padding-right: 50px;*/
/*}*/

/*.obj-margin-right {*/
    /*margin-right: 50px;*/
/*}*/

#obj-sidebar ul {
    list-style: none;
    margin: 0;
    padding: 5px 0;
}

#obj-sidebar ul li {
    border-bottom: 1px solid #ededed;
    display: block;
    padding: 5px 10px 5px 13px;
    color: #666;
    text-decoration: none;
    position: relative;
}

#obj-sidebar ul .obj-select {
    background-color: bisque;
}

#obj-sidebar ul li:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

#obj-sidebar li em {
    display: none;
}

/*.obj-border-bottom {*/
    /*border-color: transparent;*/
    /*border-style: solid;*/
    /*border-bottom-color: bisque;*/
    /*border-width: 1px;*/
/*}*/

#obj-item-list {
    /*max-width: 400px;*/
    overflow: auto;
    max-height: 600px;
}

/*#obj-report-list thead {*/
    /*background-color: #79AEC8;*/
/*}*/

/*#obj-report-list .obj-count-money {*/
    /*margin-top: 5px;*/
    /*float: right;*/
/*}*/

/*#obj-report-list .obj-print-link {*/
    /*float: left;*/
    /*vertical-align: middle;*/
    /*margin-top: 5px;*/
/*}*/

/*#obj-count-money p {*/
    /*display: inline;*/
    /*margin-left: 5px;*/
/*}*/

.obj-no-display {
    display: none;
}

.obj-red-tr {
    /*background-color: crimson;*/
    color: crimson;
}

/*.obj-red-tr a {*/
    /*color: crimson;*/
/*}*/

/*.obj-red-tr a:hover {*/
    /*color: #417690;*/
/*}*/

/*#toolbar {*/
    /*padding: 8px 10px;*/
    /*margin-bottom: 15px;*/
    /*border-top: 1px solid #eee;*/
    /*border-bottom: 1px solid #eee;*/
    /*background: #f8f8f8;*/
    /*color: #666;*/
/*}*/

/*#obj-search {*/
    /*border: 1px solid #ccc;*/
    /*padding: 2px 10px;*/
    /*margin: 0;*/
    /*vertical-align: middle;*/
    /*background: #fff;*/
    /*box-shadow: 0 -15px 20px -10px rgba(0, 0, 0, 0.15) inset;*/
    /*cursor: pointer;*/
    /*color: #333;*/
    /*border-radius: 4px;*/
    /*font-size: 14px;*/
    /*font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;*/
    /*font-weight: normal;*/
    /*align-items: flex-start;*/
    /*text-align: center;*/
/*}*/

/*#searchbar {*/
    /*height: 19px;*/
    /*border: 1px solid #ccc;*/
    /*padding: 2px 5px;*/
    /*margin: 0;*/
    /*vertical-align: top;*/
    /*font-size: 13px;*/
    /*border-radius: 4px;*/
    /*color: #333;*/
    /*font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;*/
    /*font-weight: normal;*/
    /*-webkit-appearance: textfield;*/
    /*background-color: white;*/
/*}*/

/*#obj-report-item {*/
    /*max-width: 250px;*/
/*}*/

.shade-block {
    background: gray;

    position: absolute;

    left: 0px;

    top: 0px;

    display: none;

    z-index: 20;

    filter: alpha(opacity=60);

    opacity: 0.95 !important;

}

.pop-panel {
    background-color: bisque;
    border: 1px solid #999999;
    cursor: default;
    margin: auto;
    margin-top: 100px;
    position: relative;
    text-align: left;
    width: 300px;
    height: 200px;
    z-index: 50;
    padding: 25px 25px 20px;
    overflow: auto;
}

#user_name {
    float: right;
    margin-right: 10px;
    color: green;
    font-weight: 800;
}

#obj-print-link {
    float: right;
}

#obj-error-note {
    color: red;
    font-weight: 600;
}





